<nav>
  <ul>
    <% if (!currentUser) { %>
      <li><a id="loginPopupCatalyst">Login</a></li>
      <li><a id="registerPopupCatalyst">Register</a></li>
    <% } else { %>
      <li class="navActive"><a href="/">Home</a></li>
      <li><a href="/notes">Notes</a></li>
      <li><a href="/questions">Questions</a></li>
      <li><a href="/reminders">Reminders</a></li>
      <li><a href="/statistics">Statistics</a></li>
      <li><a href="/logout">Logout</a></li>
    <% } %>
  </ul>
</nav>
