<% layout('layout') %>
<!-- TODO: See if css files can be add to the head -->
<link rel="stylesheet" href="/css/home.css">

<% for (let task of tasks) { %>
  <progress></progress>
<% } %>

<% for (let i = 0; i < 24; i++) { %>
  <p class="time"><%= i %>:00</p>
<% } %>
<progress></progress>

<!--
  !Missing new task button in design
  Show daily normal view
  Show weekly(daily for 7 days), collapse nav to top bar, hide stats, edit events pops up under event, show week by sun-sat not as just 7days
  Pick date (input type date search db display results (can I do that on same page))
  need to load events by day
  Currently planning to only load time usage stats (events can show their stats)
  clicking a task will show more info (just desc/notes?) and the edit button. Delete will be under edit
  I like the idea of a window popup for the create/edit task, but a new route is probably better
  Button to start working on a task and track the time
-->

<!--<script src=""></script>-->
