/* TODO: Use the variable font instead of static */
/* @font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway/Raleway-Regular.ttf'),
         url('../fonts/Raleway/Raleway-SemiBold.ttf');
} */

:root {
    --White: #EAE9E3FF;
    --Blue: #79A3AFFF;
    --Green: #0EDE0EFF;
    --Red: #B60E0EFF;
    --Black: #262726FF;
}

* { font-family: 'Raleway'; }

html {
    background-color: var(--Black);
}

body {
    height: 100vh;
    margin: 0;
}

#gridContainer {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100%;
}

/* TODO: Maybe break some of this out into separate files*/
/* --------------- Nav --------------- */
nav {
    width: 75%;
    margin: auto;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    border: .2ch solid var(--White);
    border-top: none;
    border-radius: 0 0 1ch 1ch;
    padding: 1em;
    margin: -.45em 0;
    
}

nav ul li:hover, .navActive {
    text-align: center;
    font-size: 1.2em;
}

nav ul li:first-child {
    border-top: .3ch solid var(--White);
    border-radius: .5ch .5ch 1ch 1ch;
}

nav ul li a {
    text-decoration: none;
    color: var(--Green);
    font-weight: 600;
    font-size: 1.3em;
}

/* --------------- Nav END --------------- */

/* --------------- Main --------------- */
main {
    border: .4ch solid #EAE9E3DD;
    border-radius: 1ch;
    display: grid;
    grid-template: repeat(24, 1fr) / minmax(min-content, 5%) minmax(max-content, 95%);
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    grid-auto-flow: column;
}

main::-webkit-scrollbar {
    display: none;
}
/* --------------- Main END --------------- */

/* --------------- Details --------------- */
details>summary:first-of-type {
    list-style-type: none;
}

/* --------------- Details END --------------- */

/* TODO: Large and small screen sizes */